{% extends 'base.html' %}
{% block conteudo %}
<h1 style="text-align: center;">Adicionar Novo Curso</h1>
<hr>
{%- for mensagem in get_flashed_messages()  %}
	<div class="alert alert-danger">
		{{mensagem}}
	</div>
{%- endfor %}
<form action="{{url_for('cria_curso')}}" method="POST" class="form-control">
	<label>Nome</label>
	<input class="form-control" type="text" name="nome" placeholder="Nome do curso" required>
	<label>Descrição</label>
	<input class="form-control" type="text" name="descricao" placeholder="Descrição do curso" required>
	<label>CH</label>
	<input class="form-control" type="number" name="ch" placeholder="CH do curso" required >
	
			<div class="form-group d-flex justify-content-between">
				<button style="margin-top:5px" class="btn btn-success">Adicionar</button>
                <a style="margin-top:5px" href="{{ url_for('lista_cursos') }}" class="btn btn-secondary">Voltar</a>
            </div>
</form>
{% endblock conteudo %}